/* 문자 인코딩 */
@charset "UTF-8";

/* 전체 초기화 */
/* 전체 선택자 - 모든 요소에 적용- 우선순위가 제일 낮음.*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* box-sizing: none; */
}

/* body */
/* body selector */
body {
    background-color: #f4f4f4;

    /* 한글 폰트 */
    font-family:
        "Malgun Gothic",
        "맑은 고딕",
        Arial,
        sans-serif;
}

/* body { */

    /* margin:0; */
    /* padding:0; */
    /* background-image: url('./resource/kees-streefkerk-Adl90-aXYwA-unsplash.jpg'); 바다 사진 경로 */
    /* background-size: cover; 화면 전체에 맞춤 */
    /* background-position: center; 중앙 정렬 */
    /* opacity: 0.9; 전체 투명도 (0~1) : 낮을수록 불투명 높을수록 투명함   */

/* } */



body::before {
content: "";
position: fixed; /* 화면 전체 덮기 */
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: url('./resource/kees-streefkerk-Adl90-aXYwA-unsplash.jpg');
background-size: cover;
background-position: center;
opacity: 0.9; /* 배경만 투명 */
z-index: -1; 
/* 본문 뒤로 보내기 */
}



/* 상단 메뉴 */
.navbar {
    width: 100%; 
    /* body 박스 내에서 100% , 블럭요소-한라인 다 잡음. */
    background-color: #222;
    /* 왜 검은색이 #222인가? */
    position: sticky;
    top: 0px;
    /* nav 바의 상단에서 위치를 정함.  */
    padding: 1px 0;   
    /* 15px 0 */
    /* 상단에서 밑으로 offset , 왼쪽에서 오른쪽으로 offset */
    z-index: 999;
    /* 페이지 내에서 본문의 내용이 많아 스크롤 바를 위 아래로 할때 이 nav바는 고정되고 그 밑으로 나머지 내용들이 스크롤 되는 것을 구현 */
    /* 0으로 설정하면 본문의 다른 내용들이 nav 의 위로 지나감. */
    overflow-x: auto;
    /* 손으로 좌/우 스크롤 가능 */

}

/* 메뉴 */
.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* 20px; */
    width: 100%;
    flex-wrap: nowrap;
    white-space: nowrap;
}

/* 메뉴 li */
.menu li {
    list-style: none;
}

/* 메뉴 a */
.menu li a {
    display: block;
    color: white;
    font-size: 12px;
    text-decoration: none;
    /* padding: 10px 15px; */
    padding: 8px;
    border-radius: 5px;
    transition: 0.3s;
}

/* hover */
.menu li a:hover {
    background-color: #00bfff;
}



/* 본문 */ 
.container {
    width: 80%;   
    /* 본문의 너비 조정 */
    margin: 0px auto;
    background-color: white;
    padding: 30px ;
    /* 30px; 100%는 먹지 않음*/
    /* 설정한 padding 값으로 인해 페이지 본문의 사이즈를 넘으면 자동으로 가로바가 나타나서 스크롤이 가능해진다. 200px로 바꿔봐라. */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    /* 투명도 사용 */
    max-width: 1200px;
    box-sizing: border-box;
    
    opacity: 0.9;

}

/* 제목 */
h1 {
    text-align: center;
    margin-bottom: 10px;
    /* 40px */
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color:coral;
}
/* 로그인 */
.login-form {
    display: flex;
    text-align: left;
    flex-direction: row;
    /* flex-direction: column; */
    flex-wrap: nowrap;
    justify-content: flex-start;
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
    /* width: 100%; */
    overflow-x: auto;
}
      





/* 입력창 */
/* login-form 클래스 자손 선택자 */
.login-form input {
    /* padding: 12px; */
    padding:6px 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* width:100%; */
}



.login-form label{
    font-family: 'Times New Roman', Times, serif;
    /* font-size: small; */
    font-size: 12px;
    text-align: center;
    color: #28a745;
    /* padding-top: 12px; */
    padding-top: 0;
    white-space: nowrap;
}


.login-form input[type="text"],
.login-form input[type="password"] {
    width: 70px;
    /* min-width: 70px; */
    /* padding: 5px; */
}



.login-form input[type="submit"] {
    width: auto;
    padding: 6px 12px;
    cursor: pointer;
}


/* 버튼 */
.login-form button {
    padding: 12px;

    border: none;

    background-color: #0066cc;

    color: white;

    border-radius: 5px;

    cursor: pointer;
}

/* 모바일 */
@media (max-width: 768px) {

   .menu {
        flex-wrap: nowrap;
        /* flex-wrap: wrap; */
    }

    .container {
        width: 95%;
    }
    

    .login-form {
        display: flex;
        flex-direction: row;
        /* flex-direction: column; */
        justify-content: flex-start;
        flex-wrap: nowrap;
        text-align: left;
        align-items: center;
        gap:5px;
        /* width: 100%; */
    }

    .login-form label {
        font-size: 6px;
        /* white-space: nowrap; */
        padding-top: 0;
    }


    .login-form input {
        
        padding:6px 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        /* width: 100%; */
    }


    .login-form input[type="text"],
    .login-form input[type="password"] {
        width: 50px;
        padding: 5px;
    }

    .login-form input[type="submit"] {
        width: auto;
        padding: 6px 12px;
        /* cursor: pointer; */
    }

    

    .calendar {
        width: 100%;

        /* font-size: 12px; */
    }

    .calendar th {
        padding:5px;
        font-size: 12px;
        text-align: center;

    }

    .calendar td {
        height: 50px;
        padding: 2px;
        font-size: 11px;
    }

    .schedule{
        font-size: 8px;
        padding:2px;
        margin:2px;
    }
    .status-area {
    width:100%;
    }

}

/* end of date */


.content-box {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 30px;
    box-sizing: border-box;
}

.container {
    background-color: white;
    border-radius: 10px;
}

.status-area {
    background-color: white;
    border-radius: 10px;
}


/* 달력 테이블 */
.calendar {
    width: 100%;
    /* 70%; */
    table-layout: fixed;  
    /* table이  모바일에서 밖으로 나가는 이슈 해결 */
    border-collapse: collapse;
    margin-top: 10px;
    background-color: white;    
    margin: 0 auto; /* 좌우 여백을 자동으로 설정 → 중앙 정렬 */
}

/* 요일 */
.calendar th {
    background-color: #0066cc;

    color: white;

    padding: 15px;

    border: 1px solid #ddd;
}

/* 날짜칸 */
.calendar td {
    width: auto;
    /* 14%; */
    height: 120px;
    /* table이 모바일에서 밖으로 나가는 이슈 해결 */
    vertical-align: top;

    border: 1px solid #ddd;

    padding: 5px;
    /* 10px; */

    position: relative;

    background-color: #fafafa;
}

/* hover 효과 */
.calendar td:hover {
    background-color: #eef7ff;
}

/* 일요일 */
.sun {
    color: red;
}

/* 토요일 */
.sat {
    color: blue;
}

/* 오늘 */
.today {
    background-color: #dff0ff !important;

    border: 2px solid #0066cc;
}

/* 일정 */
.schedule {
    margin-top: 10px;

    background-color: #0066cc;

    color: white;

    padding: 5px;

    border-radius: 5px;

    font-size: 12px;
}

/* 모바일 */
/* @media screen and (max-width: 768px) { */

    /* .calendar td { */
        /* height: 80px; */

        /* font-size: 12px; */
    /* } */

    /* .schedule { */
        /* font-size: 10px; */
    /* } */
/* } */

/* @media screen and (max-width: 768px) { */
    /* .container { */
        /* display: flex; */
        /* flex-direction: column;   세로 배치 */
        /* align-items: center;      가로 중앙 정렬 */
    /* } */

    /* .calendar { */
        /* margin: 0 auto;           테이블 중앙 */
        /* width: 90%;               화면에 맞게 줄이기 */
    /* } */

    /* .status-area { */
        /* width: 90%;               상태바도 화면에 맞게 */
        /* margin: 20px auto;        중앙 배치 */
        /* text-align: center;       내부 텍스트 중앙 */
    /* } */
/* } */











/* end of 달력 */


/* 막대바, 상황체크바 */

/* 진행상황 영역 */
.status-area {
    width:80%;
    max-width: 1200px;
    margin: 20px auto;
    /* margin: 0px auto; */
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    opacity: 0.9;
    box-sizing: border-box;
}

/* 제목 */
.status-area h3 {


    margin-bottom: 25px;

    color: #0066cc;
}

/* 각 항목 */
.progress-item {

    margin-bottom: 25px;
}

/* 제목 + 퍼센트 */
.progress-title {

    display: flex;

    justify-content: space-between;

    margin-bottom: 8px;

    font-weight: bold;
}

/* 전체 바 */
.progress-bar {

    width: 100%;

    height: 25px;

    background-color: #e0e0e0;

    border-radius: 30px;

    overflow: hidden;
}

/* 실제 진행 */
.progress {

    height: 100%;

    border-radius: 30px;

    transition: 0.5s;
}

/* 각각의 진행률 */
.html-progress {

    width: 80%;

    background: linear-gradient(90deg, #00bfff, #0066cc);
}

.css-progress {

    width: 100%;

    background: linear-gradient(90deg, #28a745, #006400);
}

.python-progress {

    width: 40%;

    background: linear-gradient(90deg, #ff9800, #ff5722);
}

.ai-progress {

    width: 65%;

    background: linear-gradient(90deg, #9c27b0, #673ab7);
}
