@import url('./common.css');


.reg_info{
    color: black;
    font-size: 1rem;
}

#reg_wrap{
    width:100%;
    border-bottom: 1px solid #aaa;
    border-top:1px solid #111;

    text-align: center;
}

#reg_wrap{
    color: purple;
    font-size: 1rem;
    text-align: center;
}


form{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items:center는 직접 자식(div#reg_wrap) 만 가운데로 보냅니다. */
    /* 그 안에 있는 요소 특히 p의 경우는 왼쪽부터 보일것이다. 기본이 왼쪽이라서..*/
    /* 그래서 text-align을 center로 해야 함.  */
    gap:5px;

}

form h3{
    color:black;
    background-color: #22772222;
    font-size: 2rem;
    font-weight:300;
    width:60%;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    border-radius: 10px;
    
}

form p{
    color:black;
    font-size: 1rem;
    
}

label{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
}
span{
    width: 80px;
    text-align: center;

}

label input{
    /* text-align: center;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    gap:5px; */

    width:150px;
    display:flex;
    align-items:center;
    text-align: center;
    gap:10px;
    
}

#submit_wrap{
    width:60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */

    
    border-bottom: 1px dashed orange;
    margin-bottom: 10px;
    padding-bottom: 10px;

}